<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title class="text-center">{{ language.title }}</title>

    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/app.css">
  </head>
  <body>

    <div class="p-3 container">

      <div class="row">
        <div class="col-sm">
          <div class="card mb-4 text-center">
            <div class="card-body">
              <h4 class="card-title ">Welcome!</h4>
              <p class="card-text">Here you will be able to set up some options about the program as the path of the services of the cloud,
                or the path where the files will be executed. </p>
              <p>You can also create your ouwn script and save them in the selected path.</p>
              <button type="button" href="#" class="btn btn-info" id="showTutorial">Click for more information</button>
            </div>
          </div>
        </div>

        <div class="col-sm-8">
          <div class="card mb-4 text-center">
            <div class="card-body">
              <h4 class="card-title ">Configuration</h4>

              <div class="dropdown-divider"></div>

              <div class="row">

                <div class="col-sm">
                  <p class="text-center font-weight-bold">Select the route of the cloud service(Dropbox/Google Drive)</p>
                </div>
              
                <div class="col-sm">
                  <input id="fileselectorCloud" type="file" webkitdirectory directory multiple="false" style="display:none" />
                  <button id="fileselectorCloudButton" onclick="getElementById('fileselectorCloud').click()" class="btn btn-primary btn-lg btn-block">Select</button>
                </div>
        
                <div class="col-sm-2">
                  <a href="#"  class="text-warning" id="buttonDefaultCloud">Reset To Default</a>
                </div>
        
              </div>
              
              <div class="text-center">
                <p class="text-info" id="actualtPathCloud">{{ actualtPathCloud }} <p class="text-danger"> (Reset to display changes(On fix)</p></p>
                <h7 class="mb-4 text-danger font-weight-bold">
                  Watch out! don't select a folder with files you don't want to delete </h7>
              </div>
        
              <div class="dropdown-divider"></div>
        
              <div class="row">
        
                <div class="col-sm">
                  <p class="text-center font-weight-bold">Select the route where the files will be executed</p>
                </div>
                
                <div class="col-sm">
                  <input id="fileselectorBat" type="file" webkitdirectory directory multiple="false" style="display:none" />
                  <button onclick="getElementById('fileselectorBat').click()" class="btn btn-primary btn-lg btn-block">Select</button>
                </div>
        
                <div class="col-sm-2">
                  <a href="#"  class="text-warning" id="buttonDefaultBat">Reset To Default</a>
                </div>
              
              </div>
              <div class="text-center">
                <p class="text-info" id="actualPathBat">{{ actualPathBat }} <p class="text-danger">(Reset to display changes(On fix)</p></p>
              </div>

            </div>
          </div>
        </div>
      </div> 


      <div class="input-group mt-3">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Write the title of the file</span>
          </div>
  
          <input type="text" id="batTitle" class="form-control" placeholder="example"> 
        </div>
  
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Write here your commands</span>
          </div>
          
          <textarea id="batText" class="form-control" aria-label="With textarea">START </textarea>
          
          <button class="btn btn-primary btn-block" type="button" id="saveBat">Save</button>
        </div>
  
        <p class="text-danger text-center">The file will save in the current path for executed files. .bat extension is automatically set</p>
      </div>

      <div class="footer"> 

        <div class="row">
          <div class="col-sm">
              <div class="form-check text-left startWith">
                <input class="form-check-input" type="checkbox" id="startWithWindows">
                <label class="form-check-label" for="startWithWindows"> Start with Windows? </label>
              </div>
          </div>

          <div class="col-sm">
            <div class="text-right version">
              <p class="text-info">Version {{ appVersion }}</p>
            </div>
          </div>

        </div>
        
            
        <div id="alertContainerBatSaved" class="alertBatSaved hidden">
            <div id="alertMessage2" class="alert  alert-success alert-dismissable" role="alert">
              <button id="hideBatSaved" type="button" class="close" data-dismiss="alert" aria-hidden="true" aria-label="Close">
                &times; </button>
              <p id="textToShowBatSaved"></p>
            </div>
        </div> 

        <div id="alertContainerUpdate" class="hidden">
            <div id="alertMessage2" class="alert  alert-info alert-dismissable" role="alert">
              <div class="row">
                <div class="col-sm">
                  <p id="updateMessage"></p>
                </div>

                <div class="col-sm">
                  <button id="updaterestartButton" class="hidden btn btn-info">Restart</button>
                </div>

                <div class="col-sm">
                  <button id="hideUpdate" type="button" class="close" data-dismiss="alert" aria-hidden="true" aria-label="Close">&times; </button>
                </div>

              </div>
              
            </div>
        </div> 

      </div>
      

      
    </div>   



    <script>
      // https://github.com/electron/electron/issues/2863
      require('../output/renderer.js');
    </script>

  </body>
</html>
